#menu {
  width:100%;
  padding:0;
  margin:0;
  list-style-type: none;
}
#menu li {
  width:20%;
  float:left;
  padding:0;
  margin:0;
  text-align:center;
}
#menu li a {
  width:auto;
  color:#fff;
  font-size:12px;
  font-weight:bold;
  padding:10px 0;
  text-decoration:none;
  display:block;
  background:#666;
}
#menu li a:hover {
  background:#555;
}



 @import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);


ul{
    padding-left: 0 !important;
}

ul.bxslider1{
	position: relative;
}

ul.bxslider1 li{
	//指定した幅と高さあああ
	width: 150px;
	height: 200px;
	position: relative;
}
ul.bxslider1 li img{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	max-width: 100%;
	max-height: 90%;
	float-left:0px;
}
ul.bxslider2{
	max-width:90%;
}
ul.bxslider2 li{
	width: ;
	height: 200px;
	position: relative;
	
}
ul.bxslider2 li img{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	max-width: 100%;
	max-height: 90%;
	margin: 0 auto;
}
ul.bxslider3 li{
	width:100%;
	height: 180px;
	position: relative;
	
}
ul.bxslider3 li img{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	max-width: 35%;
	max-height: 100%;
	float-right:0px;
}
ul.bxslider4 li{
	width:px;
	height: 180px;
	position: relative;
	
}
ul.bxslider4 li img{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	max-width: 35%;
	max-height: 100%;
	margin:0 auto;
}

.wrapper{
	position: relative;
	width: 100%;
	height: auto;
}
.title{
	text-align: center;
	font-size:100px;
	margin: 0;
}
.title1{
	font-size: 30px;
	text-align: center;
	margin: 0;
}
.text1{
	position: absolute;
	font-family: 'Noto Sans Japanese', sans-serif;
	text-align: center;
	z-index: 100;
	right:150px;
	font-weight: 100px;

}

.text{
	position: absolute;
	z-index: 1000;
	font-family: 'Noto Sans Japanese', sans-serif;
	font-weight:50px;
}
#intro{
	color:red;
}
